.chart{
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(95, 93, 93, 0.4);
    padding: 10px;
    color: gray;
    .title{
        margin-bottom: 20px;
    }
    .chartGrid{
        stroke: lightgray;
    }
}